/* ==========================================================================
   LANDING SCREEN (Hero & Tutorial)
   ========================================================================== */
.hero-section {
    text-align: center;
    margin-bottom: 3rem;
}

.hero-section h1 {
    font-size: 5rem;
    margin-bottom: 0.5rem;
}

.tagline {
    font-family: var(--font-head);
    color: var(--teal);
    text-shadow: 0 0 5px var(--teal);
    letter-spacing: 2px;
    font-size: 1.2rem;
    font-weight: bold;
}

.tutorial-section {
    margin: 2rem 0;
    width: 100%;
}

.tutorial-steps {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
}

.tutorial-step {
    outline: 0px solid var(--teal);
    padding: 1rem 2rem;
    border-radius: 8px;
    transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    max-width: 700px;
}

.tutorial-step:hover,
.tutorial-step:active,
.tutorial-step:focus {
    outline: 8px solid var(--teal);
    outline-offset: -4px;
    background: var(--muted-teal);
    box-shadow: 0 0 20px var(--teal),
        inset 0 0 20px var(--teal);
    transform: scale(1.05);
}

.tutorial-step:hover .step-number,
.tutorial-step:active .step-number,
.tutorial-step:focus .step-number {
    color: white;
    text-shadow: 0 0 10px var(--teal);
}

.tutorial-step:nth-child(even) {
    align-self: flex-end;
    outline-color: var(--orange);
}

.tutorial-step:nth-child(even) .step-header {
    flex-direction: row-reverse;
}

.tutorial-step:nth-child(even) .step-number {
    color: var(--orange);
}

.tutorial-step:nth-child(even) p {
    border-top: 1px solid var(--orange);
}

.tutorial-step:nth-child(even):hover .step-number,
.tutorial-step:nth-child(even):active .step-number,
.tutorial-step:nth-child(even):focus .step-number {
    color: white;
    text-shadow: 0 0 10px var(--orange);
}


.tutorial-step:nth-child(even):hover,
.tutorial-step:nth-child(even):active,
.tutorial-step:nth-child(even):focus {
    outline-color: var(--orange);
    background: var(--muted-orange);
    box-shadow: 0 0 20px var(--orange),
        inset 0 0 20px var(--orange);
}

.step-header {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    margin-bottom: 2.5rem;
    justify-content: space-between;
}

.step-number {
    font-family: var(--font-head);
    font-size: 3.5rem;
    font-weight: 900;
    color: var(--teal);
    opacity: 0.9;
    transition: all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.tutorial-step h3 {
    color: var(--text-color);
    font-family: var(--font-body);
    font-size: 2.5rem;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: 900;
}

.tutorial-step p {
    border-top: 1px solid var(--teal);
    padding-top: 1rem;
    font-size: 1.4rem;
    opacity: 1;
    line-height: 1.8;
    margin: 0;
    font-weight: 400;
}

.tutorial-img {
    width: 100%;
    max-width: 600px;
    border: 3px solid var(--teal);
    border-radius: 8px;
    box-shadow: 0 0 30px var(--teal);
}

.main-footer {
    text-align: center;
    margin-top: 4rem;
    padding-top: 2rem;
    border-top: 2px solid var(--teal);
    width: 100%;
    font-size: 0.8rem;
    opacity: 0.6;
}

.main-footer p {
    margin: 0.5rem 0;
}

@media (max-width: 768px) {
    .tutorial-step {
        width: 100%;
        max-width: none;
        align-self: center !important;
        text-align: left !important;
        padding: 2rem;
    }

    .tutorial-step:nth-child(even) .step-header {
        flex-direction: row;
    }

    .hero-section h1 {
        font-size: 3rem;
    }
}