/* ==========================================================================
   1. VARIABLES & CORE
   ========================================================================== */
:root {
    --teal: #20d3ee;
    --blue: #476bbd;
    --orange: #e9590c;
    --red: hsl(0, 86%, 53%);
    --green: hsl(160, 84%, 39%);
    --error-color: #ef4444;

    --dark-teal: #042a2f --dark-blue: hsl(222, 47%, 11%);
    --dark-orange: hsl(21, 90%, 10%);

    --muted-teal: hsl(188, 86%, 20%, 0.2);
    --muted-blue: hsl(222, 47%, 20%, 0.2);
    --muted-orange: hsl(21, 90%, 20%, 0.2);

    --panel-border: 1px solid var(--teal);

    /* Cyan */
    --text-color: #ccfbf1;
    --font-head: 'Orbitron', sans-serif;
    --font-body: 'Electrolize', sans-serif;

    --chromatic-text: 2px 1px 2px var(--orange),
        -2px 0px 2px var(--teal),
        0 0 20px var(--teal);
}

/* ==========================================================================
   2. LAYOUT & SCROLLING
   ========================================================================== */
body {
    margin: 0;
    padding: 0;
    background-color: var(--dark-blue);
    color: var(--text-color);
    font-family: var(--font-body);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* Start from top so scrolling works naturally */
    box-sizing: border-box;
}

#app {
    width: 95%;
    height: 95%;

    background-color: var(--muted-blue);
    border: var(--panel-border);
    border-radius: 4px;
    box-shadow: var(--muted-blue);
    backdrop-filter: blur(5px);

    padding: 3rem;
    margin: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    /* Dynamic scrolling */
    overflow-y: auto;
    overflow-x: hidden;
}

.screen {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    animation: slideIn .3s ease-out;
}

#player-lobby-screen {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    animation: slideIn .3s ease-out;
}

.hidden {
    display: none !important;
}