name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main  # Set this to your default branch
      
permissions:
  contents: write
  
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Create Firebase Config
        env:
          FIREBASE_CONFIG_JSON: ${{ secrets.FIREBASE_CONFIG }}
        run: |
          mkdir -p scripts
          echo "window.FIREBASE_CONFIG = $FIREBASE_CONFIG_JSON;" > scripts/firebase-config.js

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./
          publish_branch: gh-pages
